.account-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.account-details__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-family: "League Spartan", sans-serif;
}

.account-details__form-group {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado uniforme entre las text boxes */
    margin-bottom: 20px;
}

.account-details__form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.account-details__button {
    background-color: #6B9AC4;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-size: 16px;
    margin: 0 auto;
    display: block;
}

.account-details__button:hover {
    background-color: #0056b3;
}

.account-details__password-link {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    text-align: left;
}

.account-details__password-link a {
    color: #007bff;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
}

.account-details__password-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .account-details {
        max-width: 100%;
    }

    .account-details__form-group input {
        font-size: 16px;
    }

    .account-details__button {
        padding: 12px;
        font-size: 14px;
        white-space: normal;
        width: 100%;
    }
}
