.account-details-update {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.account-details-update__title {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-family: "League Spartan", sans-serif;
}

.account-details-update__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.account-details-update__form-group input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.account-details-update__form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.account-details-update__button {
    background-color: #6B9AC4;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
}

.account-details-update__button--cancel {
    background-color: #ff4d4d;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
}

.account-details-update__button:hover {
    background-color: #0056b3;
}

.account-details-update__button--cancel:hover {
    background-color: #cc0000;
}


@media (max-width: 768px) {
    .account-details-update {
        max-width: 100%;
        padding: 15px;
    }

    .account-details-update__form-actions {
        width: 100%;
    }

    .account-details-update__button,
    .account-details-update__button--cancel {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }
}
