.sign-in-container{
    background-color: #FFFFFC;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-form{
    background-color: #454545;
    height: 80%;
    width: 70%;
    min-width: 490px;
    min-height: 650px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-squidz__sign-in{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.input-email-container__sign-in {
    width: 90%;;
    height: auto;
    margin-bottom: 30px;
}

.email-input__sign-in,
.password-input__sign-in{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 8px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "League Spartan", sans-serif;
}

.input-password-container__sign-in{
    width: 90%;;
    height: auto;
}


.buttom-link-container__sign-in{

    width: 50%;
    margin-top: 50px;
}

.buttom-link-container__sign-in h5{
    font-size: 15px;
    margin-bottom: 10px;
}


.buttom-submit__sign-in{
    height:50px;
    width: 100%;
    background-color: #6B9AC4;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    margin-bottom: 15px;
}

.buttom-submit__sign-in:hover{
    background-color: #1b7fcc;
    font-size: 22px;
    font-weight: bold;
}

.sign-up-link{
    font-weight: normal;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: underline;
}

.sign-up-link:hover{
    color: #6B9AC4;
    font-weight: bold;
}

.password-forgotten{
    font-size: 15px;
    color: white;
    font-weight: normal;
    transition: 0.3s ease-in-out;
    text-decoration: underline;
}

.password-forgotten:hover{
    color: #6B9AC4;
    font-weight: bold;
}
